
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@section header {
    Cấp quyền truy nhập
}


<div class="row">
    <div class="col-md-12">
       <h3> Người dùng: @ViewBag.users</h3>
    </div>
    <div class="col-md-5">
        <div class="form-group">

            <div class="col-md-9">
                <h4>Danh mục nghiệp vụ</h4>
                @Html.DropDownList("business", (IEnumerable<SelectListItem>)ViewBag.BusinessList,
               new { @id = "businesslist", @class = "form-control", onchange = "getPermission('/Admin/GrantPermissions/GetPermission/?businessId=' + this.value,'" + Session["USER_GRANT_ROLE"] + "')" })
            </div>
        </div>

    </div>
    <div class="col-md-7">
        <h4>Danh mục quyền</h4>
        <div id="listaction"></div>

    </div>
</div>

<script>
    function getPermission(action, userid) {
        //alert(action);
        $.ajax({
            url: action,
            method: 'GET',
            data: ({
                userId: userid
            }),
            success: function (data) {
                console.log(data);
                $('#listaction').html('');
                $.each(data, function (index, value) {
                    //  console.log(value);
                    if (value.isGrant) {
                        $('#listaction').append("<input type='checkbox' checked onchange='updatePermission(" + "\"/Admin/GrantPermissions/UpdatePermission/?permissionid=" + value.PermissionId + "\"," + @Session["USER_GRANT_ROLE"] + ");' > " + value.Description + "</br>")
                    } else {
                        //  $('#listaction').append(' <div class="checkbox"> <label> <input type="checkbox"  value="" onchange = "updatePermission(\'/Admin/GrantPermissions/UpdatePermission/?permissionid=\' + this.value,\'" + Session["USER_GRANT_ROLE"] +"\')" >' + value.Description + '</label> </div>')
                        //$('#listaction').append("<input type='checkbox' > " + value.Description + "</br>")
                        $('#listaction').append("<input type='checkbox' onchange='updatePermission(" + "\"/Admin/GrantPermissions/UpdatePermission/?permissionid=" + value.PermissionId + "\"," + @Session["USER_GRANT_ROLE"] + ");' > " + value.Description + "</br>")
                    }
                });
            }
        });
    };

    function updatePermission(action, userid) {
        //alert(action);
        $.ajax({
            url: action,
            method: 'GET',
            data: ({
                userId: userid
            }),
            success: function (data) {
                displayMessage(data.msg, data.errorCode);
            }
        });
    }

    var displayMessage = function (message, msgType) {
        toastr.options = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onClick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "3000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };
        toastr[msgType](message);
    };

</script>